body{
    background-color: black;
}

/* ----------------------------NAVBAR-------------------------------------------- */


#man{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;;
    margin-top: 20px;;
}

#women{
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;;
}

  #navbar {
      display: flex;
      width: 100%;
      /* margin-top: 2px; */
      /* background-color: black; */
      /* margin: auto; */
      /* height: 80px; */
      color: white;
      gap: 50%;
      /* padding-top: 10px; */
      text-decoration: none;
      position: sticky;
      top: 0%;
      justify-content: space-between;
  }

  #navbar>div {
      /* padding-top: 6px; */
      font-size: 22px;
      position: sticky;

  }

  div>a {
      text-decoration: none;
      color: white;
  }

  #navbar a:hover {
      cursor: pointer;
      color: white;
  }

  #zara>div{
      margin-left: 40%;
      font-size: 40px;
      /* height:40px; */
      

    
  
  }
  #zara>div img{
      width:150%;
      height:100px;
      /* margin-top: 2px; */

  }
 

  #right {
      gap: 20px;
      display: flex;
      padding-right: 60px;
      /* color: white; */
      cursor: pointer;
      margin-top: 40px;
  }

  #search {
      text-decoration: underline;
  }
  .img {
    justify-content: center;
    /* margin:auto */
    display: flex;
    
    /* padding-bottom: 10%; */

}

/* ---------------------------HOME PAGE----------------------------------------- */




#bigimg{
     display:block;
     width: 500%
}
#foot{
    color:white;
    display: flex;
    gap:5%;
    font-size: 14px;
  
    padding-left: 10%;
    position: sticky;
    bottom: 0%
}  




/* ---------------------------------LOGIN------------------------------------------------ */


input{

    background-color:hsl(0, 0%, 0%);
    padding-bottom: 15px;
    color: white;
    border:none;
    border-bottom:1px solid white;
    justify-content: start;
    width:120%;
    cursor: pointer;   
   
}


h3{
    color: white;
    padding-bottom: 15px;
    padding-left: 8%;
}
p{
    color: white;
    font-size: 10px;
    padding-top: 10px;
   
}

#login{
   background-color: white;
   padding-top: 15px;
   width:120%;
   height: 40px;
   padding-bottom: 15px;
   color: black;
   text-align: left;
   text-align: center;
}
#loginpage{
    margin-top: 10%;
    display: flex;
  justify-content: space-around;
  color: black;
}
button{
    width:70%;
    height:40px;  
   
}
button a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#footer{
display:flex;
cursor: pointer;
color: white;
justify-content: start;
padding-left: 15%;
gap:30px;
margin-top: 15%;
line-height: 0px;
 
}
#footer>div :hover{ 
text-decoration: underline;
}
#login_downer_footer{
margin-top: 8%;
color: white;
padding-left: 15%;

}
#india{
color: white;
margin-top: 15%;
padding-left: 15%;
display: flex;
gap:65%;
}
#india p{
font-size: 14px;
}
#english{
display: flex;
gap:25px;
}
#india>div{
    font-size: 19px;
}
 

/* -----------------------------------CREATE ACCOUNT-------------------------------------------------- */
      
#check{
    color: white;
    display: flex;
    border-radius: 50%;
    gap:10px;
  
}
.p{
    margin-left: 4px;
    font-size: 19px;
    margin-top:3%;
    margin-bottom: 4%;
}
.c{
    
    margin-right: 70%;
    font-size: 19px;
    margin-top:3%;
    margin-bottom: 4%;

}
.cch{
    margin-top:4%;
    margin-bottom: 4%; 
    border-radius: 50%; 
    padding-left:40px
}
.pch{
    margin-top:4%;
    margin-bottom: 4%; 
    margin-left: 11%;
   
}

h3{
    margin-top: 10%;
    font-size: 19px;
    margin-left: 7%;

}
#create_account{
    width:30%;
    margin-left: 15%;
}
#submit{
background-color: white;
padding-top: 15px;
width:120%;
padding-bottom: 15px;
color: black;
text-align: left;
text-align: center;

}  


/* --------------------------  SIDE BAR------------------------------------- */
body {
    font-family: "Lato", sans-serif;
  }
  #menu{
      
      margin-left: 5%;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    background-color: white;
    color: white;
    /* margin-top: 150px; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 14px;
    color:black;
    display: block;
    transition: 0.3s;
    padding-top: 4px;;
    padding-left: 16px;;
  }
  
  .sidenav a:hover {
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* -----------------------------MAN.PAGE_______WOMEN.PAGE---------------------------------- */
  #container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap:30px; */
    margin:auto;
    justify-content: center;
  

}
.img{
    height:800px;
    width: 70%;
    /* margin: auto; */
    margin-left: 15%;
    margin-top: 20%;
}
.p{
    text-align: center;
}
.rs{
    text-align: center; 
    font-size: 19px;;
}


/* -------------------------------------BAG-------------------------------------------------- */
#men_left{
    display: flex;
     
 }
 #paradiv{
     padding-top: 14%; 
      padding-left: 8%;
    
 }
 #paradiv p {
    
     text-align: left;
     font-size: 15px;
    
     color: white;
 }
 #img_js{
     /* justify-content: center; */
     
     height:800px;
     width: 70%;
     margin: auto;
     margin-left: 13%;
     margin-top: 5%;
     margin-bottom: 20%;

 }
 #view:hover {
     cursor: pointer;
 }
 #view{
     text-decoration: underline;
     
 }
h4{
color: white;  
}
h5{
color: white;
}
button{
color: black;

width:105%;
height:40px;
/* padding-right: 5%; */
margin-left: 5px; 
/* margin-top: 80%;   */

}
#paradiv_btn{
margin-top: 9% ;
margin-right: 8%;

}
#paradiv_btn p{
font-size: 15px;
}



























